.nav {
  padding-left: 57px;
  padding-top: 39px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;

  @include mobile {
    padding-top: 16px;
    padding-left: 27px;
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      display: block;
      width: 70px;
      height: 72px;
    }
  }

  .websiteName {
    display: block;
    font-size: 22px;
    color: white;
    margin-left: 14px;
    -webkit-text-stroke: 1px $color-primary;
  }
}

.info_section {
  padding: 33px 101px;

  @include mobile {
    padding: 15px 39px 11px;
  }

  h2 {
    font-weight: bold;
    font-size: 34px;
    color: $color-dark-50;
  }
  .badge {
    background: $color-primary;
    font-size: $font-size-md;
    margin: 34px 0;
    padding: 6px;
    color: #fff;
    display: inline-block;
  }
}

.info_content {
  display: flex;

  @include mobile {
    display: block;
  }

  .info_img {
    background: linear-gradient(
      45deg,
      rgba(47, 122, 140, 0.85),
      rgba(47, 201, 255, 0.7)
    );
    width: 65%;
    // width: 804px;
    height: 549px;
    margin-right: 68px;
    flex-shrink: 0;
    position: relative;

    @include mobile {
      width: 100%;
      height: 179px;
    }

    img {
      width: 100%;
      height: 549px;
      object-fit: cover;

      img[alt] {
        display: none;
      }

      @include mobile {
        height: 179px;
      }

      &::after {
        content: 'Sorry! 無法顯示圖片';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-xxxl;
        font-weight: bold;

        @include pad {
          font-size: $font-size-md;
        }
      }
    }
  }

  .info_details {
    & div + div {
      margin-top: 30px;
    }

    @include mobile {
      margin-top: 16px;
    }

    h3 {
      font-size: $font-size-xxl;
      color: $color-dark-50;
      font-weight: bold;
      margin-bottom: 40px;

      @include mobile {
        font-size: $font-size-md;
      }
    }

    h4 {
      font-size: $font-size-lg;
      color: $color-dark-50;
      font-weight: bold;
      margin-bottom: 5px;
      flex-shrink: 0;

      @include mobile {
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    .info_details_phone,
    .info_details_address,
    .info_details_openTime {
      font-size: $font-size-lg;
      line-height: 1.5;

      @include mobile {
        font-size: $font-size-sm;
        line-height: 1.2;
      }

      a {
        background: $color-primary;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        &:hover,
        &:focus {
          background-color: rgba(63, 156, 179, 1);
        }

        @include mobile {
          width: 35px;
          height: 35px;
          margin-left: auto;
        }
      }

      .fa-copy,
      .fa-map-marked-alt {
        color: #fff;
        font-size: 20px;
      }
    }

    .info_details_phone {
      input {
        display: none;
        outline: none;
        border: none;
        appearance: none;
      }

      .info_details_phone_wrap {
        display: flex;
        align-items: center;

        span {
          margin-right: 20px;
        }
      }
    }

    .info_details_address {
      margin-bottom: 15px;

      .info_details_address-wrap {
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          margin-right: 20px;
        }
      }
    }

    .info_details_openTime {
      display: flex;
      line-height: 1.5;
    }
  }
}

.content {
  background-color: $color-secondary;
  padding: 34px 101px;

  @include mobile {
    padding: 12px 39px;
    font-size: $font-size-sm;
  }

  h3 {
    font-size: $font-size-xxl;
    color: $color-dark-50;
    font-weight: bold;

    @include mobile {
      font-size: $font-size-md;
    }
  }

  article {
    font-size: $font-size-md;
    margin: 50px 0 67px;
    line-height: 1.7;
    letter-spacing: 1px;

    @include mobile {
      font-size: $font-size-sm;
      margin: 30px 0 45px;
    }
  }

  p {
    font-size: $font-size-lg;
    font-weight: bold;
    margin: 38px 0 30px;
    color: #888888;

    @include mobile {
      font-size: $font-size-sm;
      margin: 19px 0 15px;
    }
  }

  .search_by_type {
    display: flex;
    letter-spacing: 1px;
    margin-bottom: 26px;

    @include mobile {
      justify-content: space-between;
    }

    .search_by_type_btn {
      // outline: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;

      &:hover .search_by_type_icon,
      &:focus .search_by_type_icon {
        background: rgba(69, 114, 227, 0.85);
      }

      &:hover .search_by_type_icon + span,
      &:focus .search_by_type_icon + span {
        color: rgba(69, 114, 227, 0.75);
      }

      .search_by_type_icon {
        width: 70px;
        height: 70px;
        background: rgba(69, 114, 227, 1);
        border-radius: 50%;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.2);

        @include mobile {
          width: 40px;
          height: 40px;
        }

        .fas {
          @include mobile {
            font-size: $font-size-md;
          }
        }

        .fas.fa-bed {
          margin-left: 3px;
        }
      }

      span {
        color: rgba(69, 114, 227, 1);
        font-size: $font-size-lg;
        text-shadow: 0px 4px 16px rgba(51, 51, 51, 0.2);

        @include mobile {
          font-size: $font-size-xs;
        }
      }
    }

    .search_by_type_btn + .search_by_type_btn {
      margin-left: 55px;

      @include mobile {
        margin-left: 0;
      }
    }
  }

  .map_section_details {
    display: flex;
    align-items: center;
    outline: 1px solid red;

    @include mobile {
      display: block;
    }

    .map_wrap {
      position: relative;
      width: 61%;
      outline: 1px solid red;

      @include mobile {
        width: 100%;
        margin-bottom: 12px;
      }

      .noDataWarning {
        // margin-top: 20px;
        padding: 15px 20px;
        background-color: #cb2b3e;
        color: #efefef;
        font-size: $font-size-lg;
        position: absolute;
        right: 117px;
        top: -60px;
      }

      .map_default {
        margin-right: 117px;
        background-color: #999;
        position: relative;
        width: 100%;
        height: 487px;

        @include mobile {
          height: 215px;
        }

        &::before {
          content: '地圖載入中...';
          position: absolute;
          top: 50%;
          bottom: 50%;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          font-size: $font-size-xxl;
        }
      }
    }

    .card {
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
      border-radius: 14px;
      width: 366px;
      height: 515px;
      display: flex;
      flex-direction: column;

      &:hover .card_image > .card_description {
        border-radius: 14px 14px 0 0;
        // top: 0;
        opacity: 1;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(1);
      }

      @include pad {
        width: 45%;
      }

      @include mobile {
        margin-bottom: 34px;
        width: 140px;
        width: 100%;
      }

      .card_image {
        height: 251px;
        border-radius: 14px 14px 0 0;
        background: linear-gradient(
          45deg,
          rgba(47, 122, 140, 0.85),
          rgba(47, 201, 255, 0.7)
        );
        position: relative;

        @include pad {
          height: 190px;
        }

        @include mobile {
          height: 170px;
        }

        img {
          border-radius: 14px 14px 0 0;
          object-fit: cover;
          width: 100%;
          height: 251px;
          display: block;
          position: absolute;
          z-index: 2;

          @include pad {
            height: 190px;
          }

          @include mobile {
            height: 170px;
          }

          &::after {
            content: 'Sorry! 無法顯示圖片';
            position: absolute;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95%;
            font-size: 28px;
            font-weight: bold;

            @include pad {
              font-size: $font-size-md;
            }
          }
        }

        .card_description {
          position: absolute;
          padding: 16px 30px;
          // top: 0;
          bottom: 0;
          bottom: -30px;
          height: 100%;
          z-index: 3;
          color: #efefef;
          font-size: $font-size-lg;
          line-height: 1.9;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          opacity: 0;
          transform: scale(0);
          // background-color: rgba(0, 0, 0, 0.5);
          transition: 0.4s;

          @include pad {
            font-size: $font-size-sm;
            line-height: 2;
          }

          @include mobile {
            -webkit-line-clamp: 5;
            line-height: 2.15;
          }
        }
      }

      .card_body {
        padding: 18px 26px 32px;
        color: $color-dark-50;
        line-height: 1.2;
      }

      .card_header {
        font-weight: 700;
        font-size: $font-size-md;

        @include mobile {
          font-size: $font-size-xs;
        }
      }

      .card_header_location .fa-map-marker-alt {
        color: $color-danger;
        margin-right: 12px;
      }

      .card_header_title {
        margin-top: 15px;

        @include mobile {
          margin-top: 7px;
        }
      }

      .card_phone {
        margin-top: 18px;
      }

      .card_address {
        margin-top: 15px;
      }

      .card_openTime {
        h5 {
          margin-top: 13px;
          margin-bottom: 7px;

          @include mobile {
            margin-top: 5px;
          }
        }

        .card_openTime_details {
          line-height: 1.5;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        @include mobile {
          font-size: $font-size-xxs;
        }
      }
    }

    .hasOfficialSiteBtn {
      border: 3px solid $color-primary;
      border-radius: 14px;
      background-color: $color-primary;

      padding: 20px 25px;
      margin-top: 30px;

      font-size: $font-size-xxl;
      line-height: 1.5;
      letter-spacing: 1.5px;
      color: #fff;
      text-decoration: none;
      // text-align: center;

      cursor: pointer;
      align-self: flex-end;
      width: 100%;
      @include btn-hover;

      .hasOfficialSiteText {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
      }

      span {
        font-size: $font-size-lg;
      }
    }
  }
}

// 地圖
.custom-popup-red .leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.3);
  // background:transparent;
  box-shadow: none;
  color: #cb2b3e !important;
  font-size: $font-size-xl;
  font-weight: bold;
}

.custom-popup-blue .leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.15);
  // background:transparent;
  box-shadow: none;
  color: #2a81cb;
  font-size: $font-size-lg;
  font-weight: bold;
}

.custom-popup-green .leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: none;
  color: #31882a;
  font-size: $font-size-lg;
  font-weight: bold;
}
