$font-size-xxxl: 42px;
$font-size-xxl: 32px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-md: 18px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-xxs: 10px;

$color-primary: rgba(47, 121, 140, 1);
$color-secondary: rgba(245, 253, 255, 1);
$color-dark-50: rgba(51, 51, 51, 1);
$color-white-50: rgba(254, 254, 254, 1);
$color-danger: rgba(203, 69, 57, 1);

@mixin desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin btn-reset {
  border: none;
  outline: none;
  appearance: none;
  height: 68px;
  // padding-top: 22px;
  // padding-bottom: 22px;
  background-color: $color-primary;
  color: white;
  cursor: pointer;

  @include pad {
    height: 54px;
  }

  @include mobile {
    height: 42px;
  }
}

@mixin btn-hover {
  &:hover {
    background-color: rgba(63, 156, 179, 1);
  }
}

@mixin btn-rectangle {
  border-radius: 20px;
}

@mixin btn-pill {
  border-radius: 100px;
}
