.card_section {
  padding: 55px 7.09% 70px;
  padding: 55px 101px 70px;
  &:nth-of-type(2) {
    background-color: $color-secondary;
  }

  @include pad {
    padding: 55px 10%;
  }

  @include mobile {
    padding: 30px 50px;
  }
}

.card_section_title {
  font-weight: bold;
  font-size: $font-size-xxl;
  color: $color-primary;
  margin-bottom: 70px;
  display: flex;
  align-items: stretch;

  @include mobile {
    font-size: $font-size-md;
    text-align: center;
    margin-bottom: 30px;
  }

  // PopularSectionTest.vue 跟DefaultSectionTest.vue 有個別設定
  img {
    margin-left: 24px;
    object-fit: cover;

    @include mobile {
      margin-left: 12px;
    }
  }
}

.card_section_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card_section_morePlaceBtn {
  @include btn-reset;
  background-color: $color-white-50;
  color: $color-primary;
  font-size: $font-size-xl;
  font-weight: 700;
  border: 3px solid $color-primary;
  border-radius: 20px;
  width: 61%;
  display: block;
  margin: 0 auto;

  &:hover {
    background-color: $color-primary;
    color: $color-white-50;
  }

  @include pad {
    border-radius: 10px;
  }

  @include mobile {
    font-size: $font-size-sm;
    width: 85%;
  }
}
